html {
  font-size: 16px;
  font-family: sans-serif;
}

.books {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.book {
  width: 12rem;
  height: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book > * {
  flex-shrink: 0;
}

.progressBar {
  height: 1rem;
  width: 100%;
  background-color: #fafafa;
  border: 1px solid;
  border-radius: .1rem;
  display: flex;
  position: relative;
}

.progress {
  background-color: #90da84;
}

.percent {
  position: absolute;
  right: 0;
}

.milestones {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.milestone {
  border-left: 1px solid;
}

.bookCover {
  object-fit: contain;
  flex-grow: 1;
  flex-shrink: 1;
}

.addBook {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.addFormField {
  display: flex;
  width: 20rem;
  align-items: center;
}

.addFormField:not(:last-child) {
  margin-bottom: .5rem;
}

.addFormLabel {
  flex-shrink: 0;
  flex-basis: 4rem;
  text-align: right;
}

.addFormInput {
  flex-grow: 1;
  width: 0;
}

.addFormText {
  margin: 0 .3rem;
}
