html {
  font-size: 16px;
  font-family: sans-serif;
}

.books {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.book {
  width: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progressBar {
  height: 1rem;
  width: 100%;
  background-color: #fafafa;
  border: 1px solid;
  border-radius: .1rem;
  display: flex;
  position: relative;
}

.progress {
  background-color: #90da84;
}

.percent {
  position: absolute;
  right: 0;
}

.milestones {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.milestone {
  border-left: 1px solid;
}
