*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: sans-serif;
  background-color: #f9fbfd;
}

.main {
  display: flex;
}

.sidebar {
  flex-basis: 12rem;
  background-color: #2f6294;
  color: #f9fbfd;
  flex-shrink: 0;
}

.books {
  display: flex;
  justify-content: flex-start;
  padding: 2rem;
  flex-wrap: wrap;
  height: 100vh;
  overflow-y: auto;
  flex-grow: 1;
}

.book {
  width: 12rem;
  height: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2rem 2rem 0;
  justify-content: space-between;
}

.book > * {
  flex-shrink: 0;
}

.progressBar {
  height: 1rem;
  width: 100%;
  background-color: #fafafa;
  border: 1px solid;
  border-radius: 0.1rem;
  display: flex;
  position: relative;
}

.progress {
  background-color: #90da84;
}

.percent {
  position: absolute;
  right: 0;
}

.milestones {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.milestone {
  border-left: 1px solid;
}

.bookCover {
  object-fit: contain;
  flex-shrink: 1;
  height: 10rem;
}

.addBook {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1em;
}

.addFormField {
  display: flex;
  width: 20rem;
  align-items: center;
}

.addFormField:not(:last-child) {
  margin-bottom: 0.5rem;
}

.addFormLabel {
  flex-shrink: 0;
  flex-basis: 4rem;
  text-align: right;
}

.addFormInput {
  flex-grow: 1;
  width: 0;
}

.addFormText {
  margin: 0 0.3rem;
}

.addBookButton {
  align-self: center;
  width: 8rem;
  height: 3rem;
  font-size: 1rem;
  cursor: pointer;
}
